{
    "DiscBot": {
        "botname": "",
        "discord": {
            "email": "",
            "password": "",
            "username": ""
        },
        "admin_channel": "",
        "admin_channel_ID": "",
        "admins": []
    }
}
